@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Pacifico&family=Palette+Mosaic&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
.footer{
    font-family: 'Orbitron', sans-serif;
    margin-top: 100px;
    color: silver;
    font-size: 12px;
    .sign{
        font-size: 15px;
        font-family: 'Homemade Apple', cursive;
    }
}