@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Pacifico&family=Palette+Mosaic&family=Shrikhand&display=swap');
body{
.wrap{
    flex-basis: 100%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Shrikhand', cursive;
}
}